/* Header */

header {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  grid-template-rows: repeat(1fr, 3);
  grid-template-areas: "header-text . nav-links"
                       ". hero-text .";
  background: linear-gradient(to bottom, #232741, #394072); 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  color: #FFF;
  justify-items: center;
}

.header-text {
  font-family: 'Bree Serif', serif;
  grid-area: header-text;
}

.hero-text {
  font-size: $scale1;
  grid-area: hero-text;
}

.nav-links {
  grid-area: nav-links;

  ul {
    display: flex;

    li {
      z-index: 1;
      list-style: none;
      padding: 10px 20px;

      a {
        color: #FFF;
        text-decoration: none;
        font-weight: bold;
      }
    }

    li:hover {
      cursor: pointer;
    }

    li:hover a {
      color: #e0ac52;
    }
  }
}

/* ---- particles.js container ---- */ 

#particles-js { 
  position:absolute; 
  width: 100%; 
  height: 100%; 
}
