@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Bree+Serif|Montserrat:700");
/* Header */
header {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  grid-template-rows: repeat(1fr, 3);
  grid-template-areas: "header-text . nav-links" ". hero-text ." ". . .";
  background: linear-gradient(to bottom, #232741, #4450a5);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FFF;
  justify-items: center; }

.header-text {
  font-family: 'Bree Serif', serif;
  grid-area: header-text; }

.hero-text {
  font-size: 1.5rem;
  grid-area: hero-text; }

.nav-links {
  grid-area: nav-links; }
  .nav-links ul {
    display: flex; }
    .nav-links ul li {
      z-index: 1;
      list-style: none;
      padding: 10px 20px; }
      .nav-links ul li a {
        color: #FFF;
        text-decoration: none;
        font-weight: bold; }
    .nav-links ul li:hover {
      cursor: pointer; }
    .nav-links ul li:hover a {
      color: #e0ac52; }

/* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%; }

/* About */
#sky {
  display: grid;
  grid-template-columns: repeat(1fr, 4);
  grid-template-rows: repeat(1fr, 4);
  grid-template-areas: ". greeting . ." "cloud-area cloud-area cloud-area cloud-area";
  background: linear-gradient(to bottom, #4450a5, transparent), radial-gradient(circle at bottom right, yellow, #2b80ee, #4450a5); }

.greeting {
  grid-area: greeting;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 150px;
  margin-bottom: 100px; }

/* Clouds */
.cloud-divider {
  width: 100vw;
  grid-area: cloud-area;
  height: 250px;
  position: relative;
  display: flex;
  overflow: hidden; }

.cloud {
  background-color: white;
  border-radius: 50%;
  position: absolute; }

.cloud-1 {
  height: 22vw;
  width: 22vw;
  left: -11vw;
  bottom: -11vw; }

.cloud-2 {
  height: 16vw;
  width: 16vw;
  bottom: -8vw;
  left: 4vw; }

.cloud-3 {
  height: 24vw;
  width: 24vw;
  bottom: -14vw;
  left: 14vw; }

.cloud-4 {
  height: 16vw;
  width: 16vw;
  bottom: -8vw;
  left: 28vw; }

.cloud-5 {
  height: 10vw;
  width: 10vw;
  left: 37vw;
  bottom: -5vw; }

.cloud-6 {
  height: 8vw;
  width: 8vw;
  left: 42vw;
  bottom: -4vw; }

.cloud-7 {
  height: 12vw;
  width: 12vw;
  left: 44vw;
  bottom: -6vw; }

.cloud-8 {
  height: 8vw;
  width: 8vw;
  right: 41vw;
  bottom: -4vw; }

.cloud-9 {
  height: 16vw;
  width: 16vw;
  right: 28vw;
  bottom: -8vw; }

.cloud-10 {
  height: 14vw;
  width: 14vw;
  right: 22vw;
  bottom: -7vw; }

.cloud-11 {
  height: 20vw;
  width: 20vw;
  right: 12vw;
  bottom: -10vw; }

.cloud-12 {
  height: 18vw;
  width: 18vw;
  right: 5vw;
  bottom: -9vw; }

.cloud-13 {
  height: 24vw;
  width: 24vw;
  right: -12vw;
  bottom: -12vw; }

/* About Section */
.about {
  display: flex; }

.about-img {
  position: relative; }

.about-wrapper {
  width: 80%;
  margin: auto; }

.skills-wrapper {
  margin-top: 50px; }

html {
  font-size: 112.5%;
  font-family: 'Inter UI', sans-serif;
  color: #373d3f; }

h1 {
  font-family: 'Abril Fatface', cursive; }

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

p {
  font-size: 1rem; }

/* ---- reset ---- */
body {
  margin: 0; }

canvas {
  display: block;
  vertical-align: bottom; }

/*# sourceMappingURL=style.css.map */
