// Imports

@import 'variables';
@import url('https://rsms.me/inter/inter-ui.css');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Bree+Serif|Montserrat:700');
@import 'header';
// @import 'projects';

// Main Styles

html {
  font-size: percentage(18/16);
  font-family: 'Inter UI', sans-serif;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: $scale0;
}

/* ---- reset ---- */ 

body { 
  margin:0;  
} 

canvas { 
  display: block; 
  vertical-align: bottom; 
} 